// Main Site Layout

html, body {
    background-color: $background-color;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
    position: relative;

    .header,
    .footer {
        flex: none;
    }

    .main {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;

        &::after {
            content: '';
            display: block;
            height: 0px;
            visibility: hidden;
        }
    }
}

.container {
    padding: 30px;
    @media (min-width: $lg) {
        max-width: none;
        padding: 30px 5% 30px 50px;
    }
}
