<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
        <span>&copy; {{ build.timestamp | dateToFormat('yyyy') }} <a href="https://oliviachang.me" target="_blank">Olivia Chang</a>.</span>
        <a href="http://github.com/oliviachang29/tidbits" target="_blank">
            {% icon "github" %}Github
        </a>
    </div>
</footer>