{% for quote in collections.quotes %}
  {% if quote.text %}
    <div class="quote-container" data-tags="{% for tag in quote.tags %}{{ tag }} {% endfor %}">
      <p class="quote-text">{{ quote.text }}</p>
      {% if quote.author or quote.source %}
        <div class="quote-bottom">
          <p class="quote-author">{{ quote.author }}</p>
          <a class="quote-source" {% if quote.link %} href="{{quote.link}}" target="_blank" {%endif%}>
            {{quote.source}}
          </a>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}