<div class="tags-filter-toggle">
  <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <strong>Show Filters</span></strong>
  </a>
</div>
<div class="collapse sticky-top" id="collapseExample">
  <div class="tags">
    <button type="button" class="btn btn-primary tag tag-all" onclick="onAllQuotesClick()">all</button>
    {% for tag in collections.tags %}
      <button type="button" class="btn btn-primary tag tag-{{ loop.index }}" onclick="filterByTag('{{tag}}', {{loop.index}})">
        {{ tag }}
      </button>
    {% endfor %}
  </div>
</div>