.header {
    padding: 30px 0 80px;
    @media (min-width: $md) {
        padding: 100px 0 120px;
    }
}

#logo {
    font-weight: bold;
    font-size: 27px;
    color: $primary-color;
}

#heading {
    margin-top: 50px;
    @media (min-width: $lg) {
        margin-top: 100px;
        width: 50%;
    }
    font-weight: bold;
    font-size: 35px;
}