.quotes-row {
  @media (max-width: $lg) {
    flex-direction: column-reverse;
  }
}
.quote-container {
  background: #FFFFFF;
  box-shadow: 0 2px 34px 0 rgba(242,242,242,0.50);
  padding: 50px 30px;
  margin-bottom: 30px;
  @media (min-width: $sm) {
    padding: 50px;
    margin-bottom: 50px;
  }
}

.quote-text {
  margin-bottom: 10px;
  font-size: 16px;
  @media (min-width: $sm) {
    font-size: 18px;
    line-height: 30px;
  }
  font-family: 'Neue Hass Grotesk';
  font-weight: 100;
  color: $gray-darkest;
}

.quote-bottom {
  margin-top: 35px;
  font-family: 'Neue Hass Grotesk';
  font-weight: bold;
  font-size: 18px;
  @media (min-width: $md) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.quote-author, .quote-source {
  font-weight: bold;
  text-decoration: none;
}

.quote-source {
  text-align: right;
  color: $primary-color !important;
}

.quote-tags {
  font-weight: bold;
}

.hide {
  display: none;
}