---
layout: base
eleventyNavigation:
  key: Home
---

<div class="row quotes-row">
  <div class="col-lg-8">
    {% include 'quotes.njk' %}
  </div>
  <div class="col-lg-4">
    {% include 'tags.njk' %}
  </div>
</div>