<!DOCTYPE html>
<html lang="{{ meta.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta.title }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">
    {% include "meta.njk" %}
</head>
<body>
    <div hidden>{% iconsprite %}</div>

    <div class="layout container" role="document">
        {% include "header.njk" %}
        <main id="main" class="main" tabindex="-1">
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    {# this should go somewhere else #}
    <script>
        onAllQuotesClick()
        function showAllQuotes() {
            $('.tag').removeClass('active')
            $('.quote-container').each(function () {
                $(this).removeClass('hide');
            })
        }
        function onAllQuotesClick() {
            showAllQuotes();
            $('.tag-all').addClass('active');
        }
        function filterByTag(tag, tagIndex) {
            showAllQuotes();
            $(`.tag-${tagIndex}`).addClass('active');
            $('.quote-container').each(function(){
                if(!$(this).attr('data-tags').includes(tag)) {
                    $(this).addClass('hide')
                }
            })
        }
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ '/assets/scripts/main.js' | url }}"></script>
</body>
</html>